@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  /* removing the important causes the smooth scroll to not work */
  scroll-behavior: smooth !important; 
  padding: 0;
  margin: 0;

}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.custom-img {
  background-image: url('https://images.unsplash.com/photo-1549880181-56a44cf4a9a5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80');
}




@font-face {
  font-family: "Amiri";
  src: url("../public/Amiri-Regular.ttf");
}

@font-face {
  font-family: "satoshiMedium";
  src: url("../public/Satoshi-Medium.otf");
}
